.menu{

	background-image:url(../image/bj.png);

	background-repeat:no-repeat;

	width:220px;

	height:380px;

}

ul{

	padding:1px 10px 20px 20px;

	margin-top:0px;

}

li{

	font-size:22px;

	list-style-type:none;

	text-decoration:none;

	padding:5px;

	margin:10px 10px 5px 10px;

	border:5px;

	background-image:url(../image/baibiaoti.png);

	background-repeat:no-repeat;

}

a:link{

	color:grey;

	text-decoration:none;

}

a:visited{

	color:grey;

	text-decoration:none;

}

a:hover{

	color:white;

	background-image:url(../image/lvbiaoti.png);

	text-decoration:none;

}

a:active{

	color:grey;

	text-decoration:none;

}